#root {
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;              /* Firefox */
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;           /* IE 10+ */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;                      /* Chrome, Safari */
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 4px;
    width: 1px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
  }
 }














